.opplasting ul.opplasting-liste {
    padding-inline-start: 1.3em;
    line-height: 40px;
}
.opplasting li.opplasting-liste {
    font-size: 25px;
}
.opplasting .tekst {
    margin-left: 10px;
}
.opplasting .feilmeldinger {
    margin: 1rem 0 0 0;
    text-align: left;
}
.navds-alert--warning.reisetilskudd {
    background-color: #ffffff;
    margin-top: 1.5rem;
}
