@import '../../../node_modules/nav-frontend-core/less/_variabler';

.oppsummering {
    margin: 2rem 0;

    .ekspanderbartPanel__hode .ekspanderbartPanel__tittel {
        font-size: inherit;
    }

    &__flex-wrapper {
        padding-bottom: 1px;
    }

    &__innhold {
        padding: 0 1.5rem;
    }

    .sporsmal {
        display: flex;
        padding: 2rem 0;
        border-bottom: 1px solid @grayIcon;

        &:first-child {
            padding-top: 1rem;
        }

        .bilde {
            width: 1rem;
            height: 1rem;
            margin: 0.175rem 0.5rem;
        }
    }

    .oppsummering__vaerKlarOverAt {
        li {
            margin-bottom: 1rem;
        }
    }

    .oppsummering__seksjon {
        border-bottom: 1px solid @navGra40;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 2rem;
        padding-bottom: 2rem;
    }

    .oppsummering__seksjon:last-child {
        border-bottom-width: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .oppsummering__sporsmalscontainer {
        margin-bottom: 2rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .oppsummering__sporsmal {
        margin-top: 0;
        margin-bottom: .5rem;
    }

    .oppsummering__avkrysset {
        display: flex;
        margin-top: 0.5rem;

        img {
            display: block;
            width: 1rem;
            min-width: 1rem;
            height: 1rem;
            margin-right: .5rem;
            margin-top: .175rem;
        }

        span {
            flex: 1;
        }
    }

    .oppsummering__undersporsmal .oppsummering__undersporsmal {
        padding-left: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .oppsummering__undersporsmal + .oppsummering__undersporsmal {
        margin-top: 1.5rem;
    }

    .oppsummering__tekst,
    .oppsummering__dato {
        margin-bottom: .5rem;
    }

    .oppsummering__avkrysset + .oppsummering__tekstsvar,
    .oppsummering__svarliste + .oppsummering__tekstsvar,
    .oppsummering__avkrysset + .oppsummering__undersporsmalsliste,
    .oppsummering__tekstsvar + .oppsummering__tekstsvar {
        padding-left: 1.5rem;
    }

    .oppsummering__svarliste:last-child .oppsummering__undersporsmalsliste {
        margin-bottom: 0;
    }

    .oppsummering__svarliste + .oppsummering__svarliste {
        margin-top: 1rem;
    }

    .oppsummering__overskrift + .oppsummering__undersporsmalsliste {
        margin-top: 0;
    }

    .oppsummering__undersporsmalsliste {
        margin-top: 2rem;
    }

    .oppsummering__sporsmal + .oppsummering__undersporsmalsliste,
    .oppsummering__avkrysset + .oppsummering__undersporsmalsliste {
        margin-bottom: 1rem;
        margin-top: 1rem;

        > .oppsummering__tekstsvar:first-child {
            margin-top: -1rem;
        }

        > .oppsummering__tekstsvar {
            padding-left: 0;
        }

        .oppsummering__tekstsvar + .oppsummering__sporsmalscontainer {
            margin-top: 1rem;
        }
    }

    .oppsummering__sporsmal + .oppsummering__undersporsmalsliste {
        margin-top: 0;
    }

    .oppsummering__land {
        margin-bottom: 0;

        &:before {
            content: "\2022";
            display: inline-block;
            width: .5rem;
            margin-right: .5rem;
        }
    }

    .oppsummering__landliste {
        margin: 0;
        padding: 0;
    }

    .oppsummering__land {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}

@media (min-width: @screen-sm) {
    .ekspanderbartPanel {
        &__innhold {
            padding: 0 2.5rem 3rem;
        }
    }
}

