[*]
indent_style = space
indent_size = 4

end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
ij_typescript_spaces_within_brackets = true

[*.md]
trim_trailing_whitespace = false

[package.json]
indent_style = space
indent_size = 2

[{.eslintrc,.scss-lint.yml}]
indent_style = space
indent_size = 4

[*.{scss,sass,less}]
indent_style = space
indent_size = 4
