.soknader .sidetopp__tittel {
    text-align: center;
    margin-bottom: 2rem;
}
.soknader .sporsmal__tittel {
    margin: 2rem 0 0.5rem;
}
.soknader #maincontent {
    background-color: #ffffff;
}
.soknader .soknader_teasere {
    padding-bottom: 2.5rem;
}
