.no-border {
    border: none;
    background: none;
    padding: 0;
}

div.personvern-les-mer{
    margin-left: -12px;
}
.personvern-modal {
    max-width: 700px;

    .modal__tittel {
        margin-top: 0.4rem;
    }

    section {
        padding: 1em
    }

    ul {
        margin: 0;
        padding-left: 1em;
        padding-bottom: 1em;
    }

    li {
        padding-top: 0.5em;
    }

    .lukk-wrapper {
        padding-top: 1.5em;
        text-align: center;
    }
}
