@import 'node_modules/nav-frontend-core/less/_variabler';

@navDypBlaLighten90: mix(@navDypBla, #fff, 10%);

label[for=ddfil] {
    display: inline-block;
}

.filopplasteren {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
    font-weight: bold;
    border: 2px dashed @navBla;
    border-radius: 4px;
    background-color: #f1f6f8;
    color: @navBla;
    margin: 0 auto 1rem;
    cursor: pointer;

    &.skjemaelement__input--harFeil {
        border: 1px solid @redError;
    }

    &:focus {
        outline: 0;
        box-shadow: 0 0 0 3px @fokusFarge;
    }

    & + .skjemaelement__feilmelding {
        margin-top: -0.5rem;
    }
}

.opplastingsikon {
    display: inline-block;
    margin-right: 0.3rem;
}

.preview img {
    width: 100%;
}

.modal-fil {
    margin: 1rem 0 2.5rem;
    display: flex;
    justify-content: left;

    .vedleggsikon {
        width: 1.2rem;
    }

    .endreknapp {
        margin-left: 1.5rem;
    }

    .endreikon {
        width: 16px;
        margin-right: 0.35rem;
    }
}
