.filopplasteren {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
    font-weight: bold;
    border: 2px dashed #0067c5;
    border-radius: 4px;
    background-color: #f1f6f8;
    color: #0067c5;
    margin: 0 auto;
    cursor: pointer;
}
.filopplasteren.skjemaelement__input--harFeil {
    border: 1px solid #c30000;
}
.filopplasteren:focus {
    outline: 0;
    box-shadow: 0 0 0 3px #00347d;
}
