@import '../../../node_modules/@navikt/ds-tokens/dist/tokens';

.hvorfor-soknad-sykepenger {
    margin: 1rem 0;
    border: 1px solid @navds-global-color-gray-400;
    border-radius: 4px;

    p {
        margin: 0.5rem 0 1rem;
    }

    .navds-accordion__header {
        padding-left: 2rem;
        background-color: @navds-global-color-white;
    }

    .navds-accordion__content {
        padding-left: 2rem;
    }
}
