@import '../../../node_modules/@navikt/ds-tokens/dist/tokens';

.feil-state {
    #maincontent {
        background-color: @a-bg-default;
    }

    button {
        margin-top: 1em;
    }

    .knappewrapper {
        display: flex;
        justify-content: center;
    }
}
