.soknaden {
    background-color: #ffffff;
}
.soknaden .tilbakelenke {
    display: inline-flex;
    align-items: center;
    margin: 1rem 0 0.25rem;
}
.soknaden .tilbakelenke .chevron--venstre {
    margin-bottom: -5px;
}
.soknaden .sporsmal__tittel {
    margin: 2rem 0 0.5rem;
}
@media (min-width: 768px) {
    .soknaden .tilbakelenke {
        margin: 1rem 0;
    }
}
