.teasere__header {
    padding: 1rem 0;
}
.teasere__header .inngangspanel__sortering {
    display: inline-block;
    position: absolute;
    right: 1rem;
}
.teasere__header .teasere__header__tittel {
    margin-top: 3rem;
}
.teasere__header .teasere__header__tittel:first-child {
    margin-top: 0;
}
.inngangspanel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 28px 16px 30px 20px;
    border: 1px solid #262626;
    border-radius: 4px;
    margin-bottom: 1rem;
    text-align: left;
    background-color: #ffffff;
    width: 100%;
    cursor: pointer;
    color: #262626;
    text-decoration: none;
}
.inngangspanel.inngangspanel--tomListe {
    display: inline;
    padding: 0;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    width: auto;
    font-weight: 400;
}
.inngangspanel.inngangspanel--ny {
    border-color: #ff9100;
    background-color: #fffaf2;
}
.inngangspanel.inngangspanel--ny.inngangspanel--tomListe {
    background-color: #ffffff;
}
.inngangspanel.inngangspanel--inaktivt {
    padding: 0 0.5rem;
    background-image: none;
    color: #707070;
}
.inngangspanel .inngangspanel__ytre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.inngangspanel .inngangspanel__ikon {
    display: none;
}
.inngangspanel .inngangspanel__periode__undertekst {
    list-style: none;
    margin: 0;
    padding-top: 6px;
    padding-left: 0;
    max-width: 20rem;
}
.inngangspanel .inngangspanel__status {
    white-space: nowrap;
    margin-top: 12px;
}
.inngangspanel .inngangspanel__periode {
    margin-bottom: 2px;
}
.navds-modal.modal__teaser_popup {
    width: 350px;
}
.navds-modal.modal__teaser_popup .modal__tittel {
    margin: 0.25rem 0 1rem;
}
.navds-modal.modal__teaser_popup p + p {
    margin-top: 1rem;
}
.navds-modal.modal__teaser_popup .utvidbar.intern .utvidbar__innhold .navds-alert__icon {
    display: block;
}
.navds-modal.modal__teaser_popup .navds-button.navds-button--primary {
    display: block;
    margin: 2rem auto 1rem;
}
@media (min-width: 768px) {
    .inngangspanel:hover {
        box-shadow: #ccc 0 0 4px 2px;
    }
    .inngangspanel:hover .inngangspanel__ikon--hover {
        display: block;
    }
    .inngangspanel:hover .inngangspanel__ikon--hover img {
        margin-right: 4px;
    }
    .inngangspanel:hover .inngangspanel__ikon--normal {
        display: none;
    }
    .inngangspanel.inngangspanel--tomListe:hover {
        box-shadow: none;
        cursor: default;
    }
    .inngangspanel .inngangspanel__ytre {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: calc(100% - 24px);
    }
    .inngangspanel .inngangspanel__del1 {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .inngangspanel .inngangspanel__ikon {
        display: block;
        width: 56px;
        height: 40px;
        margin: 6px 0 0 12px;
        align-self: flex-start;
    }
    .inngangspanel .inngangspanel__ikon--hover {
        display: none;
    }
    .inngangspanel:hover .chevron--hoyre {
        color: #0067c5;
    }
    .inngangspanel:hover .inngangspanel__del1 .inngangspanel__tittel {
        color: #0067c5;
        text-decoration: underline;
    }
    .inngangspanel .inngangspanel__status {
        margin: 0;
    }
}
