@import '../../../../node_modules/nav-frontend-core/less/_variabler';
@import '../../../../src/basic';

.inngangspanelerHeader {
    padding: 1rem 0;
    display: flex;

    .inngangspanel__sortering {
        display: inline-block;
        position: absolute;
        right: 1rem;

        ~ .typo-undertittel {
            padding-top: 3rem;
        }
    }
}

.inngangspanel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    border: 1px solid @navMorkGra;
    border-radius: 4px;
    background-color: @white;
    margin-bottom: 1rem;
    padding: 1.3rem 1rem 1.5rem 1rem;
    color: @navMorkGra;
    text-decoration: none;
    cursor: pointer;

    &.inngangspanel__btn {
        width: 100%;
        text-align: left;
    }

    &.inngangspanel--tomListe {
        padding: 1rem 2rem 1rem;
        font-weight: 400;

        &:hover {
            box-shadow: none;
            cursor: default;
        }
    }

    &:hover {
        position: relative;
        z-index: 100;
        box-shadow: #ccc 0 0 4px 2px;

        .inngangspanel__ikon--hover {
            display: block;

            img {
                margin-right: 4px;
            }
        }

        .inngangspanel__ikon--normal {
            display: none;
        }
    }

    .inngangspanel__del1, .inngangspanel__del2 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .inngangspanel__del2 {
        .inngangspanel__status {
            margin: 1rem 0 0 44px;
        }

        .chevronboks {
            display: none;
        }
    }

    .inngangspanel__ikon {
        display: block;
        width: 48px;
        margin: 6px 0 0 12px;
        align-self: flex-start;
    }

    .inngangspanel__ikon--hover {
        display: none;
    }

    .inngangspanel__innhold {
        padding-left: 0.5rem;
    }

    .inngangspanel__tittel {
        margin-bottom: 0.5rem;
    }

    .inngangspanel__status {
        white-space: nowrap;
        margin: 4px 0;
    }

    .inngangspanel__periode__undertekst {
        margin: 0;
        padding-top: 1rem;
        padding-left: 1rem;
        max-width: 20rem;
    }
}

.inngangspanel--ny {
    border-color: @navOransje;
    background-color: mix(@navOransje, @white, 5%);
}

.inngangspanel--inaktivt {
    padding: 0 0.5rem;
    background-image: none;
    color: @navGra60;
}

.modal.modal__teaser_popup {
    .modal__tittel {
        margin: 0.25rem 0 1rem;
    }

    .knapp.knapp--hoved {
        display: block;
        margin: 2rem auto 1rem;
    }
}

@media (min-width: @skjermMedium) {
    .inngangspanel {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-right: 2rem;

        &:hover {
            .inngangspanel__del2 {
                .chevronboks {
                    color: @navBla;
                }
            }
        }

        .inngangspanel__tittel {
            margin-bottom: 0;
        }

        .inngangspanel__del2 {
            margin: 0;

            .inngangspanel__status {
                margin: 0;
            }

            .chevronboks {
                display: inline-block;
                margin: 0 -1rem 0 1rem;
            }
        }

        .inngangspanel__innhold {
            padding-right: 0.5rem;
        }
    }
}
