@import '../../../../node_modules/nav-frontend-core/less/_variabler';
@import '../../../../src/basic';

.teasere__header {
    padding: 1rem 0;

    .inngangspanel__sortering {
        display: inline-block;
        position: absolute;
        right: 1rem;
    }

    .teasere__header__tittel {
        margin-top: 3rem;

        &:first-child {
            margin-top: 0;
        }
    }
}

.om_sykepenger {
    p + p, h3, .ekspanderbartPanel, .alertstripe {
        margin-top: 1.2rem;
    }

    h3 {
        margin-bottom: 0.5rem;
    }

    .ekspanderbartPanel + .ekspanderbartPanel {
        margin-top: 0.6rem;
    }
}

.inngangspanel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 28px 16px 30px 20px;
    border: 1px solid @navMorkGra;
    border-radius: 4px;
    margin-bottom: 1rem;
    text-align: left;
    background-color: @white;
    width: 100%;
    cursor: pointer;
    color: @navMorkGra;
    text-decoration: none;

    &.inngangspanel--tomListe {
        display: inline;
        padding: 0;
        border: 0;
        border-radius: 0;
        margin-bottom: 0;
        width: auto;
        font-weight: 400;
    }

    &.inngangspanel--ny {
        border-color: @navOransje;
        background-color: mix(@navOransje, @white, 5%);

        &.inngangspanel--tomListe {
            background-color: @white;
        }
    }

    &.inngangspanel--inaktivt {
        padding: 0 0.5rem;
        background-image: none;
        color: @navGra60;
    }

    .inngangspanel__ytre {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .inngangspanel__ikon {
        display: none;
    }

    .inngangspanel__periode__undertekst {
        list-style: none;
        margin: 0;
        padding-top: 6px;
        padding-left: 0;
        max-width: 20rem;
    }

    .inngangspanel__status {
        white-space: nowrap;
        margin-top: 12px;
    }

    .inngangspanel__periode {
        margin-bottom: 2px;
    }
}

.modal.modal__teaser_popup {
    width: 350px;

    .modal__tittel {
        margin: 0.25rem 0 1rem;
    }

    p + p {
        margin-top: 1rem;
    }

    .utvidbar.intern .utvidbar__innhold .alertstripe__ikon {
        display: block;
    }

    .knapp.knapp--hoved {
        display: block;
        margin: 2rem auto 1rem;
    }
}

@media (min-width: @skjermMedium) {
    .inngangspanel {
        &:hover {
            box-shadow: #ccc 0 0 4px 2px;

            .inngangspanel__ikon--hover {
                display: block;

                img {
                    margin-right: 4px;
                }
            }

            .inngangspanel__ikon--normal {
                display: none;
            }
        }

        &.inngangspanel--tomListe {
            &:hover {
                box-shadow: none;
                cursor: default;
            }
        }

        .inngangspanel__ytre {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: calc(100% - 2rem);
        }

        .inngangspanel__del1 {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .inngangspanel__ikon {
            display: block;
            width: 56px;
            margin: 6px 0 0 12px;
            align-self: flex-start;

            &--hover {
                display: none;
            }
        }

        &:hover {
            .inngangspanel__del1 {
                .inngangspanel__tittel {
                    color: @navBla;
                    text-decoration: underline;
                }
            }

            .chevronboks {
                color: @navBla;
            }
        }

        .inngangspanel__status {
            margin: 0;
        }
    }
}
