@import '../../../node_modules/nav-frontend-core/less/_variabler';
@import '../../../node_modules/nav-frontend-skjema-style/src/index';
@import "../../basic.less";


#opprett_utland_main {
  background-color: @navLysGra;
}

.opprett-utland {

  font-family: @font-family;

  .mixin-panel-padding() {
    padding-left: 1rem;
    padding-right: 1rem;

    @media (min-width: @skjermMini) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  .sidetopp {
    .mixin-panel-padding();
  }

  .sidetopp__intro {
    margin-bottom: 3rem;
    .redaksjonelt-innhold();

  }

  .sidetopp__tittel {
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
    .typo-sidetittel-mixin();
  }

  .sidetopp__meta {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .sidetopp--arbeidsrettetOppfolging {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }


  .begrensning {
    max-width: 42rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: .5rem;
    padding-right: .5rem;

    @media (min-width: 321px) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  .begrensning--bred {
    max-width: 820px;
  }

  .begrensning--soknad {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .begrensning--hvit {
    background-color: #fff;
  }


  .sidebanner {
    border-bottom: 5px solid #87D5EE;
    background-color: #C2EAF7;
    position: relative;
    margin-bottom: 2rem;
  }

  .sidebanner--utenramme {
    border-bottom: 0;
  }


  .sidebanner__illustrasjon {
    display: none;
  }

  .sidebanner__innhold {
    .begrensning;
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;

    .brodsmuler {
      margin-bottom: 1rem;
    }
  }

  .sidebanner__tittel {
    margin: 0;
    text-align: center;
    .typo-sidetittel-mixin();
  }

  @media (min-width: @skjermMedium) {

    .sidebanner__innhold .brodsmuler {
      margin-bottom: 2rem; // default
    }

    .sidebanner__tittel {
      padding-bottom: 1rem;
      text-align: left;
    }

    .sidebanner__illustrasjon {
      position: absolute;
      right: .5rem;
      left: auto;
      bottom: -5px;
      display: block;
    }

  }

  .blokk--xl {
    margin-bottom: 4rem;
  }


  .opprett-utland__tittel {
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
    .typo-sidetittel-mixin();
  }

  .redaksjonelt-innhold {

    // Brukes på redaktørstyrt HTML.

    h2, h3, h4 {
      .typo-element-mixin();
      margin-top: 20px;
      margin-bottom: 0;
    }


    p:last-child {
      margin-bottom: 0;
    }

  }

  .panel {

    // Standard-panel
    // <div class="panel"></div>

    background: @white;
    padding: 1rem;
    margin-bottom: 1rem;
    display: block;

    &:focus {
      outline: 3px @orangeFocus solid;
    }

  }

  .panel--ramme {
    border: 1px solid @navGra40;
  }

  .panel__tittel {
    .typo-undertittel-mixin();
    margin-top: 0;
  }

  @media (min-width: @skjermMini) {
    .panel {
      padding: 2rem;
    }

    .panel--komprimert {
      padding-top: 1rem;
      padding-bottom: 1.25rem;
    }

    .panel-ekstra, .panel-relatert {
      border-left-width: 1px;
      border-right-width: 1px;
      margin-left: 0;
      margin-right: 0;
      padding-top: 20px;

      &:before {
        left: 2rem;
      }
    }
  }


  .knapperad {
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-align: center;
  }

  @media (max-width: 30rem) {
    .knapperad__element:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  @media (min-width: 30em) {
    .knapperad__element {
      display: inline-block;
    }

    .knapperad__element:not(:last-child) {
      margin-right: 2rem;
    }
  }

  .knapperad--forrigeNeste {
    @media (max-width: @skjermMini) {
      display: flex;
      flex-direction: column-reverse;

      .knapperad__element:not(:first-child) {
        margin-bottom: 2rem;
      }
    }
  }

  .knapperad--medAvbryt {
    margin-bottom: 2rem;
  }

  .knapperad--justervenstre {
    text-align: left;
  }
}
