.uxSignalsContainer {
    margin-top: var(--navds-spacing-12);
}

.uxSignalsContainer > :global(.uxsignals-container) {
    background-color: var(--navds-guide-panel-color-background);
    border-color: var(--navds-guide-panel-color-border);
    border-radius: var(--navds-border-radius-medium);
    color: var(--navds-semantic-color-text);
}

.uxSignalsContainer :global(.uxsignals-cta) {
    background-color: var(--navds-button-color-primary-background);
    color: var(--navds-button-color-primary-text);
    border-radius: var(--navds-border-radius-small);
}

.uxSignalsContainer :global(.uxsignals-cta):hover {
    background-color: var(--navds-button-color-primary-background-hover);
}
