.checkboks {
    position: absolute;
    opacity: 0;
}
.checkboks + .skjemaelement__label {
    padding-left: 32px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 0;
    line-height: 24px;
}
.checkboks + .skjemaelement__label::before {
    content: '';
    position: absolute;
    display: block;
    text-align: center;
    background-color: #ffffff;
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid #707070;
    color: #707070;
    width: 24px;
    height: 24px;
    left: 0;
    top: 0;
}
.checkboks:hover + .skjemaelement__label {
    color: #0067c5;
}
.checkboks:hover + .skjemaelement__label::before {
    border-color: #0067c5;
    background-color: #cce1ff;
}
.checkboks:disabled + .skjemaelement__label {
    color: #707070;
}
.checkboks:disabled + .skjemaelement__label:hover {
    cursor: not-allowed;
}
.checkboks:disabled + .skjemaelement__label::before {
    background-color: #f1f1f1;
    border-color: #707070;
    box-shadow: none;
}
.checkboks--mork + .skjemaelement__label::before {
    border-color: #707070;
}
.checkboks {
    position: absolute;
    opacity: 0;
}
.checkboks:focus + .skjemaelement__label::before {
    box-shadow: 0 0 0 3px #00347d;
}
.checkboks + .skjemaelement__label::before {
    border-radius: 4px;
}
.checkboks:checked:disabled + .skjemaelement__label::before {
    border-color: #b0b0b0;
    background-color: #b0b0b0;
}
.checkboks:checked:focus + .skjemaelement__label::before {
    background-color: white;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMyAxMCI+ICAgIDxnPiAgICA8cGF0aCBmaWxsPSIjMDA2N0M1IiBkPSJNNCwxMGMtMC40LDAtMC44LTAuMS0xLjEtMC40TDAuNCw3LjFDMC4xLDYuOCwwLDYuNCwwLDZzMC4yLTAuOCwwLjUtMS4xQzEsNC40LDIsNC40LDIuNSw0LjlMNCw2LjRsNi40LTYgICAgQzEwLjgsMC4xLDExLjEsMCwxMS41LDBjMC40LDAsMC44LDAuMiwxLDAuNWMwLjYsMC42LDAuNSwxLjYtMC4xLDIuMXYwTDUsOS42QzQuNyw5LjksNC40LDEwLDQsMTB6IE0xMS44LDEuOUwxMS44LDEuOSAgICBDMTEuOCwxLjksMTEuOCwxLjksMTEuOCwxLjl6IE0xMS4yLDEuMUMxMS4yLDEuMSwxMS4yLDEuMSwxMS4yLDEuMUwxMS4yLDEuMXoiLz4gICAgPC9nPjwvc3ZnPg==);
}
.checkboks:checked + .skjemaelement__label::before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMyAxMCI+ICAgIDxnPiAgICA8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNNCwxMGMtMC40LDAtMC44LTAuMS0xLjEtMC40TDAuNCw3LjFDMC4xLDYuOCwwLDYuNCwwLDZzMC4yLTAuOCwwLjUtMS4xQzEsNC40LDIsNC40LDIuNSw0LjlMNCw2LjRsNi40LTYgICAgQzEwLjgsMC4xLDExLjEsMCwxMS41LDBjMC40LDAsMC44LDAuMiwxLDAuNWMwLjYsMC42LDAuNSwxLjYtMC4xLDIuMXYwTDUsOS42QzQuNyw5LjksNC40LDEwLDQsMTB6IE0xMS44LDEuOUwxMS44LDEuOSAgICBDMTEuOCwxLjksMTEuOCwxLjksMTEuOCwxLjl6IE0xMS4yLDEuMUMxMS4yLDEuMSwxMS4yLDEuMSwxMS4yLDEuMUwxMS4yLDEuMXoiLz4gICAgPC9nPjwvc3ZnPg==);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75%;
    border-color: #0067c5;
    border-width: 2px;
    background-color: #0067c5;
}
