.feiloppsummering {
    background-color: #ffffff;
    display: block;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0;
    border: 4px solid #c30000;
}
.feiloppsummering:focus,
.feiloppsummering--focus {
    box-shadow: 0 0 0 3px #00347d;
    outline: none;
}
.feiloppsummering__liste {
    margin: 1rem 0;
}
.feiloppsummering__liste li {
    margin-bottom: 0.25rem;
}
