.toggle {
    display: flex;
}
.toggle > :first-child .toggle__label {
    border-radius: 2px 0 0 2px;
}
.toggle > :last-child .toggle__label {
    border-radius: 0 2px 2px 0;
    border-right: 1px solid #262626;
    margin-left: -1px;
}
.toggle__label {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #262626;
    border-right: 0;
    color: #262626;
    cursor: pointer;
    min-width: 6.25rem;
    height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0;
}
.toggle__label:hover {
    border-color: #0067c5;
    color: #0067c5;
}
.toggle__input:checked + label {
    background-color: #005b82;
    color: #ffffff;
    border-color: #005b82;
}
.toggle__input:focus + label {
    position: relative;
    z-index: 999;
    box-shadow: 0 0 0 3px #00347d;
}
