@import '../../../../node_modules/@navikt/ds-tokens/dist/tokens';
@import '../../basic';
@import './skjema/index';

.skjemaelement__label {
    font-size: 1.125rem !important;
}

.sporsmal__form {
    .skjema__fieldset {
        border: 0;
        padding: 0;

        legend {
            margin-bottom: 1rem;
        }
    }

    .skjemaelement--horisontal {
        display: flex;
        flex-direction: row;
    }

    .skjema-feilmelding {
        color: @navds-global-color-red-500;
        font-style: italic;
        margin-top: 0.65rem;
    }

    .skjemaelement__feilmelding {
        display: inline-block;
        margin-top: 0.5rem;
        color: @navds-global-color-red-500;
        font-weight: bold;
    }

    .skjemaelement__input {
        font-family: 'Source Sans Pro', Arial, sans-serif;
        font-size: 1.125rem;
    }

    .skjemaelement__input + .skjemaelement__label {
        padding: 0.5rem 1rem 0.5rem 2.3rem;

        &:before {
            top: 0.5rem;
        }
    }

    .bekreftCheckboksPanel {
        .skjemaelement__label {
            padding: 0 1rem 0 2.3rem;

            &:before {
                top: 0;
            }
        }
    }

    .redaksjonelt-innhold {
        margin-bottom: 2rem;

        li + li {
            margin-top: 0.7rem;
        }
    }

    .checkboksContainer {
        .skjemaelement__label {
            margin-left: 1rem;
        }
    }

    .radioContainer {
        width: auto;

        .undersporsmal {
            margin-top: 0.7rem;
        }
    }

    .medEnhet {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 0.7rem;

        &__enhet {
            margin-left: 0.5rem;
        }
    }

    .medHjelpetekst {
        display: flex;
        align-items: center;

        .hjelpetekst {
            margin-left: 0.5rem;
        }

        .popover {
            max-width: 20rem;
        }
    }

    .inputPanelGruppe {
        .skjema__sporsmal {
            margin-bottom: 0.75rem;
        }
    }

    .inputPanelGruppe__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .inputPanel {
            width: 100%;
        }
    }

    .inputPanel__label,
    .checkboks + .skjemaelement__label,
    .radioknapp + .skjemaelement__label {
        font-size: 1.125rem;
    }

    .periodeliste {
        list-style: none;
        padding-left: 0;
    }

    .lenkeknapp {
        font-size: 1rem;

        &.slett {
            margin-left: 1rem;
        }
    }

    .knapperad {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 0;
    }

    .presisering,
    .pekeboble {
        padding: 1rem;
        background-color: @navds-global-color-white;
        position: relative;

        @media (min-width: 30rem) {
            padding: 2rem;
        }
    }

    .ekstrasporsmal,
    .presisering,
    .pekeboble {
        &:after {
            content: '';
            width: 1rem;
            height: 1rem;
            position: absolute;
            display: block;
            left: 1rem;
            transform-origin: 50% 50%;

            @media (min-width: 30rem) {
                left: 1.5rem;
            }
        }
    }

    .pekeboble {
        &:after {
            font-size: 1.3333333333333333rem;
            left: 50%;
            top: 0;
            transform: translate(-50%, -50%) rotate(45deg) skew(5deg, 5deg);
        }
    }

    .pekeboble,
    .pekeboble:after {
        background-color: @navds-global-color-gray-50;
    }

    .pekeboble {
        margin-top: 2rem;
    }

    .avbrytDialog {
        width: 100%;
        margin-top: 1rem;
        text-align: center;
    }

    div.personvern-les-mer {
        padding-bottom: 2rem;
    }

    hr {
        margin: 1rem;
    }

    .helligdager-tittel {
        padding-bottom: 0.8rem;
    }

    .avbrytDialog__trigger {
        margin: 0;
    }

    .modal__avbryt_popup {
        .panel-relatert:before {
            left: 50%;
        }

        .varselstripe__innhold {
            text-align: left;
        }
    }

    .utland_infotekst {
        position: relative;
        margin: 1.5rem 0;
        padding: 1rem 1rem;
        background-color: @navds-global-color-gray-100;

        &:after {
            content: '';
            width: 1rem;
            height: 1rem;
            position: absolute;
            display: block;
            left: 1.45rem;
            top: 0;
            transform: translateY(-50%) rotate(45deg) skew(5deg, 5deg);
            transform-origin: 50% 50%;
            background-color: @navds-global-color-gray-100;
        }
    }
}

@media (min-width: @screen-sm) {
    .sporsmal__form {
        .inputPanelGruppe {
            .inputPanel:not(:last-child) {
                margin-bottom: 0;
            }
        }

        .inputPanelGruppe__inner {
            .inputPanel {
                width: 48.7%;
            }
        }

        .knapperad {
            margin: 2rem 0;
        }
    }
}
