.tabell {
    border-collapse: collapse;
    display: table;
    width: 100%;
}
.tabell caption,
.tabell .tabell__caption {
    display: table-caption;
    caption-side: bottom;
    color: #707070;
    font-style: italic;
    line-height: 1.25rem;
    margin-top: 0.5rem;
    padding: 1rem;
    text-align: right;
}
.tabell td,
.tabell th,
.tabell .tabell__td,
.tabell .tabell__th {
    display: table-cell;
    padding: 1rem;
}
.tabell td:not([align]),
.tabell th:not([align]),
.tabell .tabell__td:not([align]),
.tabell .tabell__th:not([align]) {
    text-align: left;
}
.tabell td .skjemaelement,
.tabell th .skjemaelement,
.tabell .tabell__td .skjemaelement,
.tabell .tabell__th .skjemaelement {
    margin: 0;
}
.tabell td .skjemaelement__label,
.tabell th .skjemaelement__label,
.tabell .tabell__td .skjemaelement__label,
.tabell .tabell__th .skjemaelement__label {
    margin: 0;
}
.tabell td:first-child .skjemaelement.skjemaelement--horisontal,
.tabell th:first-child .skjemaelement.skjemaelement--horisontal,
.tabell .tabell__td:first-child .skjemaelement.skjemaelement--horisontal,
.tabell .tabell__th:first-child .skjemaelement.skjemaelement--horisontal {
    height: 24px;
}
.tabell td:first-child .checkboks + .skjemaelement__label,
.tabell th:first-child .checkboks + .skjemaelement__label,
.tabell .tabell__td:first-child .checkboks + .skjemaelement__label,
.tabell .tabell__th:first-child .checkboks + .skjemaelement__label {
    width: 24px;
    text-indent: -9999px;
    padding: 0;
}
.tabell td:first-child .checkboks[data-label='true'] + .skjemaelement__label,
.tabell th:first-child .checkboks[data-label='true'] + .skjemaelement__label,
.tabell .tabell__td:first-child .checkboks[data-label='true'] + .skjemaelement__label,
.tabell .tabell__th:first-child .checkboks[data-label='true'] + .skjemaelement__label {
    width: auto;
    text-indent: 0;
    padding: 0 0 0 32px;
}
.tabell td.tabell__td--sortert,
.tabell .tabell__td.tabell__td--sortert {
    background: rgba(0, 0, 0, 0.025);
}
.tabell thead,
.tabell .tabell__thead {
    display: table-header-group;
}
.tabell thead td,
.tabell .tabell__thead td,
.tabell thead th,
.tabell .tabell__thead th,
.tabell thead .tabell__td,
.tabell .tabell__thead .tabell__td,
.tabell thead .tabell__th,
.tabell .tabell__thead .tabell__th {
    border-bottom: 1px solid rgba(0, 0, 0, 0.55);
}
.tabell tbody,
.tabell .tabell__tbody {
    display: table-row-group;
}
.tabell tbody td,
.tabell .tabell__tbody td,
.tabell tbody th,
.tabell .tabell__tbody th,
.tabell tbody .tabell__td,
.tabell .tabell__tbody .tabell__td,
.tabell tbody .tabell__th,
.tabell .tabell__tbody .tabell__th {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.tabell tbody tr:first-child,
.tabell .tabell__tbody tr:first-child,
.tabell tbody .tabell__tr:first-child,
.tabell .tabell__tbody .tabell__tr:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}
.tabell tr,
.tabell .tabell__tr {
    display: table-row;
}
.tabell tr.tabell__tr--valgt td,
.tabell .tabell__tr.tabell__tr--valgt td,
.tabell tr.tabell__tr--valgt .tabell__td,
.tabell .tabell__tr.tabell__tr--valgt .tabell__td {
    background: #cce1ff;
}
.tabell tfoot,
.tabell .tabell__tfoot {
    display: table-footer-group;
}
.tabell--stripet tbody tr:nth-child(2n + 1):not(.tabell__tr--valgt) td,
.tabell--stripet .tabell__tbody tr:nth-child(2n + 1):not(.tabell__tr--valgt) td,
.tabell--stripet tbody .tabell__tr:nth-child(2n + 1):not(.tabell__tr--valgt) td,
.tabell--stripet .tabell__tbody .tabell__tr:nth-child(2n + 1):not(.tabell__tr--valgt) td,
.tabell--stripet tbody tr:nth-child(2n + 1):not(.tabell__tr--valgt) th,
.tabell--stripet .tabell__tbody tr:nth-child(2n + 1):not(.tabell__tr--valgt) th,
.tabell--stripet tbody .tabell__tr:nth-child(2n + 1):not(.tabell__tr--valgt) th,
.tabell--stripet .tabell__tbody .tabell__tr:nth-child(2n + 1):not(.tabell__tr--valgt) th,
.tabell--stripet tbody tr:nth-child(2n + 1):not(.tabell__tr--valgt) .tabell__td,
.tabell--stripet .tabell__tbody tr:nth-child(2n + 1):not(.tabell__tr--valgt) .tabell__td,
.tabell--stripet tbody .tabell__tr:nth-child(2n + 1):not(.tabell__tr--valgt) .tabell__td,
.tabell--stripet .tabell__tbody .tabell__tr:nth-child(2n + 1):not(.tabell__tr--valgt) .tabell__td,
.tabell--stripet tbody tr:nth-child(2n + 1):not(.tabell__tr--valgt) .tabell__th,
.tabell--stripet .tabell__tbody tr:nth-child(2n + 1):not(.tabell__tr--valgt) .tabell__th,
.tabell--stripet tbody .tabell__tr:nth-child(2n + 1):not(.tabell__tr--valgt) .tabell__th,
.tabell--stripet .tabell__tbody .tabell__tr:nth-child(2n + 1):not(.tabell__tr--valgt) .tabell__th {
    background: rgba(0, 0, 0, 0.03);
}
.tabell--stripet tbody tr:nth-child(2n + 1):not(.tabell__tr--valgt) .tabell__td--sortert,
.tabell--stripet .tabell__tbody tr:nth-child(2n + 1):not(.tabell__tr--valgt) .tabell__td--sortert,
.tabell--stripet tbody .tabell__tr:nth-child(2n + 1):not(.tabell__tr--valgt) .tabell__td--sortert,
.tabell--stripet .tabell__tbody .tabell__tr:nth-child(2n + 1):not(.tabell__tr--valgt) .tabell__td--sortert,
.tabell--stripet tbody tr:nth-child(2n + 1):not(.tabell__tr--valgt) .tabell__th--sortert,
.tabell--stripet .tabell__tbody tr:nth-child(2n + 1):not(.tabell__tr--valgt) .tabell__th--sortert,
.tabell--stripet tbody .tabell__tr:nth-child(2n + 1):not(.tabell__tr--valgt) .tabell__th--sortert,
.tabell--stripet .tabell__tbody .tabell__tr:nth-child(2n + 1):not(.tabell__tr--valgt) .tabell__th--sortert {
    background: rgba(0, 0, 0, 0.05);
}
.tabell--border thead td,
.tabell--border tbody td,
.tabell--border tfoot td,
.tabell--border .tabell__thead td,
.tabell--border .tabell__tbody td,
.tabell--border .tabell__tfoot td,
.tabell--border thead th,
.tabell--border tbody th,
.tabell--border tfoot th,
.tabell--border .tabell__thead th,
.tabell--border .tabell__tbody th,
.tabell--border .tabell__tfoot th,
.tabell--border thead .tabell__td,
.tabell--border tbody .tabell__td,
.tabell--border tfoot .tabell__td,
.tabell--border .tabell__thead .tabell__td,
.tabell--border .tabell__tbody .tabell__td,
.tabell--border .tabell__tfoot .tabell__td,
.tabell--border thead .tabell__th,
.tabell--border tbody .tabell__th,
.tabell--border tfoot .tabell__th,
.tabell--border .tabell__thead .tabell__th,
.tabell--border .tabell__tbody .tabell__th,
.tabell--border .tabell__tfoot .tabell__th {
    border: 1px solid rgba(0, 0, 0, 0.55);
}
.tabell-enkel {
    border-spacing: 0 10px;
    border-collapse: collapse;
    max-width: 100%;
    width: 100%;
    background-color: transparent;
    margin-bottom: 1rem;
}
.tabell-enkel tr {
    border-top: 1px solid #b0b0b0;
}
.tabell-enkel tr:last-child {
    border-bottom: 1px solid #b0b0b0;
}
.tabell-enkel thead tr:last-child {
    border-bottom: 2px solid #b0b0b0;
}
.tabell-enkel td:not(:first-child)::before {
    content: '';
    width: 0;
    height: 30%;
    position: relative;
    border: 1px solid #b0b0b0;
    left: -50%;
}
.tabell-enkel tbody tr:first-child th,
.tabell-enkel tbody tr:first-child td {
    border-top-width: 2px;
}
.tabell--stripet.fil_liste {
    margin-top: 1.5rem;
}
.tabell--stripet.fil_liste th {
    text-align: left;
}
.tabell--stripet.fil_liste .belop {
    white-space: nowrap;
    text-align: right;
}
.tabell--stripet.fil_liste .transport button {
    text-align: left;
}
.tabell--stripet.fil_liste tbody.sumlinje tr td {
    background: 0;
    border-bottom: 0;
}
@media (min-width: 768px) {
    .tabell.fil_liste th.belop {
        padding-right: 3rem;
        text-align: right;
    }
    .tabell.fil_liste td.belop {
        padding-right: 3rem;
    }
}
