.accordionWrapper {
    margin-bottom: var(--a-spacing-4);
    margin-top: var(--a-spacing-4);

    border: 1px solid var(--a-gray-400);
}

@media (min-width: 768px) {
    .contentPadding {
        padding-left: var(--a-spacing-8);
    }
}
