@import '../../../node_modules/nav-frontend-core/less/_variabler';
@import '../../../src/basic';


.modal__avbryt_popup {
    width: 350px;

    .midtstilt-knapp {
        display: block;
        margin: 2rem auto 1rem;
    }

    .tiitel {
        margin-top: 2.5rem;
    }
}

.avbryt_rødknapp{
    color: @redError;
}
