@import '../../../node_modules/nav-frontend-core/less/_variabler';

.soknader {
    background-color: @navLysGra;

    .sidetopp__tittel {
        text-align: center;
        margin-bottom: 2rem;
    }
}
