@import '../../../node_modules/nav-frontend-core/less/_variabler';

.soknader {
    background-color: @navLysGra;

    .sidetopp__tittel {
        text-align: center;
        margin-bottom: 2rem;
    }

    .sporsmal__tittel {
        margin: 2rem 0 0.5rem;
    }

    .sporsmal__intro {
        margin-bottom: 2rem;
    }
}
