@import '~@navikt/ds-css/dist/index.css';

:root {
    --screen-sm: '768px';
}

#root {
    min-height: 65vh;
}

@media (min-width: var(--screen-sm)) {
    #root {
        min-height: 75vh;
    }
}

html {
    --desktop-limit-width: 672px;
}
