* {
    box-sizing: border-box;
}
body {
    margin: 0;
    color: #262626;
}
html,
body,
#app-root {
    height: 100%;
}
html .data-loader,
body .data-loader,
#app-root .data-loader {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
html .data-loader .navds-loader,
body .data-loader .navds-loader,
#app-root .data-loader .navds-loader {
    width: 20vw;
    height: 20vh;
}
.pagewrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 72%;
}
.app {
    min-height: 70vh;
}

.vekk {
    line-height: 0;
    color: transparent;
    font-size: 0;
    width: 0;
    height: 0;
}
a {
    color: #0067c5;
}
.lenkeknapp {
    border: 0;
    background: none;
    padding: 0;
    cursor: pointer;
    outline: 0;
    color: #0067c5;
    text-decoration: underline;
}
.lenkeknapp:hover {
    text-decoration: none;
}
.lenkeknapp:focus {
    background-color: #005b82;
    color: #ffffff;
    text-decoration: none;
    box-shadow: 0 0 0 2px #005b82;
}
.navds-accordion .navds-accordion__header {
    align-items: center;
}
.navds-accordion .navds-accordion__header .navds-heading {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}
.navds-guide__illustration svg,
.navds-guide__illustration img {
    margin-top: 5%;
}
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.fade-exit {
    opacity: 1;
}
.fade-exit.fade-exit-active {
    opacity: 0;
}
