.tilbakeIArbeidBodyMargin {
    margin-top: var(--a-spacing-4);
}

.underlineItalic {
    text-decoration: underline;
    font-style: italic;
}

.readMoreWrapper {
    width: 100%;
    margin-bottom: var(--a-spacing-4);
}
