.lenkeknapp {
    border: 0;
    background: none;
    padding: 0;
    cursor: pointer;
    outline: 0;
    color: #0067c5;
    text-decoration: underline;
}

.lenkeknapp:hover {
    text-decoration: none;
}
.lenkeknapp:focus {
    background-color: #005b82;
    color: #ffffff;
    text-decoration: none;
    box-shadow: 0 0 0 2px #005b82;
}