@import '../../../../node_modules/@navikt/ds-tokens/dist/tokens';

.skjema__beh-dager {
    margin-top: 1.5rem;

    .ukedager {
        width: 300px;

        span {
            display: inline-block;
            text-align: center;
            border-bottom: 1px solid @navds-global-color-gray-400;
            padding: 0.5rem 0;
            min-width: 40px;
        }
    }

    .tomdag {
        min-width: 40px;
    }

    .kalenderdag {
        display: inline-block;

        label {
            display: inline-block;
            min-width: 40px;
            padding: 0.5rem 0;
            text-align: center;
            color: @navds-semantic-color-interaction-primary;

            &:hover {
                background-color: @navds-global-color-gray-100;
                cursor: pointer;
            }

            &.fjern {
                margin-left: 2rem;

                &.skjul {
                    display: none;
                }

                &:hover {
                    background-color: transparent;
                    text-decoration: underline;
                }
            }
        }

        input {
            &:checked + label {
                background-color: @navds-semantic-color-interaction-primary;
                color: @navds-global-color-white;
            }
        }
    }
}
