@import '../../../../node_modules/@navikt/ds-tokens/dist/tokens';

@desktopLimitWidth: 672px;
@padding: 2rem;
@border: 4px;
@ukebredde: calc(100vw - @padding);
@dagbredde: calc((100vw - @padding - @border) / 8);

.skjema__dager {
    width: @ukebredde;
    margin-top: 1.5rem;
    outline: 0;
    border: 2px solid @a-surface-action;

    .kalender__tittel {
        text-align: center;
        margin: 2rem 0 1rem;
    }

    .ukedager {
        font-size: 0.9rem;
        font-style: italic;

        span {
            display: inline-block;
            text-align: center;
            padding: 0.9rem 0 1rem;
            width: @dagbredde;
        }
    }

    .tomdag {
        width: @dagbredde;
    }

    .kalenderuke {
        display: flex;
        align-items: center;
    }

    .ukenr {
        display: inline-block;
        text-align: center;
        width: @dagbredde;
        font-size: 0.9rem;
        font-style: italic;
        padding: 0.9rem 0;
        border-right: 1px solid @a-gray-400;
    }

    .kalenderdag {
        display: inline-block;
        font-weight: 600;
        width: @dagbredde;

        label {
            &:hover {
                background-color: @a-gray-100;
                cursor: pointer;
            }
        }

        label,
        span.label {
            display: inline-block;
            min-width: 100%;
            padding: 0.9rem 0;
            text-align: center;
            color: @a-gray-900;
            border-right: 1px solid @a-bg-default;
            border-bottom: 1px solid @a-bg-default;
        }

        &.sun {
            label,
            span.label {
                color: @a-red-500;
            }
        }

        &.foran,
        &.etter {
            background-color: @a-gray-100;

            label,
            span.label {
                color: @a-gray-600;
                font-weight: normal;
            }
        }

        input {
            &.checked + label {
                background-color: @a-surface-action;
                color: @a-bg-default;
            }
        }
    }

    .kalendervalg {
        display: flex;
        justify-content: space-around;
        margin: 2rem 0 3rem;

        .velgalle,
        .fjernalle {
            &:focus {
                box-shadow: none;
                background-color: transparent;
                color: @a-surface-action;
                text-decoration: underline;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        .velgalle img {
            margin-right: 0.5rem;
        }

        .fjernalle img {
            margin-right: 0.35rem;
        }
    }
}

@media (min-width: 768px) {
    @paddingDesktop: calc(100vw - (@desktopLimitWidth - 2rem));
    @ukebreddeDesktop: calc(100vw - @paddingDesktop);
    @dagbreddeDesktop: calc((@ukebreddeDesktop - @border) / 8);

    .skjema__dager {
        width: @ukebreddeDesktop;

        .tomdag,
        .ukenr,
        .kalenderdag,
        .ukedager span {
            width: @dagbreddeDesktop;
        }
    }
}
