@import '../../../../node_modules/@navikt/ds-tokens/dist/tokens';

.til_slutt_seksjon {
    border: 1px solid @a-gray-600;
    border-radius: 4px;
    padding: 1.3rem 1rem 1rem;
    margin-top: 1.5rem;
}
