.navds-radio-buttons {
}
.radioGruppe-jaNei .navds-radio-buttons .navds-accordion {
    margin-right: auto;
    width: 100%;
}
.radioGruppe-jaNei .navds-radio-buttons .radio-input {
    width: 100%;
    border: 2px solid #707070;
    border-radius: 0.25rem;
    display: block;
    padding: 0.3rem 1rem;
}
.radioGruppe-jaNei .navds-radio-buttons .radio-input:not(:last-child) {
    margin-bottom: 0.5rem;
}
.radioGruppe-jaNei .navds-radio-buttons .radio-input.radio-checked {
    border: 2px solid #0067c5;
    background-color: #cce1ff;
}
@media (min-width: 768px) {
    .navds-radio-buttons .radio-input {
        width: 48.7%;
    }
}
