@import '../../basic';

.periode {
    padding-top: 1rem;

    .skjemagruppe {
        display: flex;

        .skjemaelement {
            padding-right: 0.5rem;
            margin-bottom: 0;
        }

        .ds-datepicker__inputContainer {
            width: 8.5rem;
        }
    }

    button {
        &.slett.navds-link {
            margin-left: 0;
            padding-top: 0.5rem;
        }
    }
}

.ds-datepicker__kalenderPortal--responsive {
    transform: translate3d(0, 0, 200px);
}

@media (min-width: @screen-sm) {
    .periode {
        display: flex;

        .skjemagruppe {
            .ds-datepicker__inputContainer {
                width: 11rem;
            }
        }

        button {
            &.slett.navds-link {
                display: flex;
                padding-top: 2.5rem;
            }
        }
    }
}
