@import '../../basic';

.ds-datepicker .navds-form-field {
    grid-gap: 0;
    gap: 0;
}

.periode {
    margin-top: 1rem;

    .skjemagruppe {
        display: flex;

        .skjemaelement {
            padding-right: 0.5rem;
            margin-bottom: 0;
        }
    }

    button {
        &.slett.navds-link {
            margin-left: 0;
            padding-top: 0.5rem;
        }
    }
}

.ds-datepicker__kalenderPortal--responsive {
    transform: translate3d(0, 0, 200px);
}

@media (min-width: @screen-sm) {
    .periode {
        display: flex;

        button {
            &.slett.navds-link {
                display: flex;
                padding-top: 2.5rem;
            }
        }
    }
}
