@import '../../../../node_modules/nav-frontend-core/less/_variabler';
@import '../../../../src/basic';

.periode {

    .skjemagruppe {
        display: inline-flex;

        .skjemaelement {
            padding-right: 0.5rem;
            margin-bottom: 0.2rem;
        }

        .nav-datovelger__inputContainer {
            width: 8.5rem;
        }
    }

    button {
        &.slett.lenke {
            margin-left: 0;
        }
    }
}

@media (min-width: @screen-sm) {
    .periode {
        display: flex;
        flex-direction: row;

        .skjemagruppe {
            .nav-datovelger__inputContainer {
                width: 11rem;
            }
        }

        button {
            &.slett.lenke {
                display: inline-flex;
                padding-top: 2.5rem;
            }
        }
    }
}
