@import '../../../node_modules/@navikt/ds-tokens/dist/tokens';
@import '../basic';

.kvittering {
    .navds-alert--success {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin-bottom: -2px;
    }

    .navds-alert:not(.navds-alert--inline) .navds-link:not(:focus) {
        color: @navds-semantic-color-interaction-primary;
    }

    .avsnitt {
        margin: 1.5rem 0;

        &:first-child {
            margin-top: 0;
        }
    }

    .knapperad {
        margin: 3rem 0 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        .navds-button {
            display: block;
            margin-right: 1rem;
            margin-bottom: 1rem;

            &:last-child {
                margin-bottom: 0.5rem;
            }
        }
    }

    .avslutt-knapp {

        .navds-button__inner {
            margin: 0 17px 0 17px;
        }
    }

    .sendt-info {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border: 1px solid @navds-global-color-lightblue-500;
        border-top: 0;
        padding: 1rem;

        .hva-skjer {
            margin-top: 2rem;
            padding-top: 1.4rem;
            border-top: 1px solid @navds-global-color-gray-200;

            .navds-alert {
                background-color: transparent;
                border: 0;
                padding-left: 0;

                svg {
                    width: 28px;
                    height: 28px;
                }

                .navds-alert__wrapper {
                    margin-left: -3px;
                }
            }
        }

        .sendt-inner {
            padding-left: 2.3rem;

            .sendt-tittel {
                margin-top: 0.4rem;
            }

            .arbeidstaker-tittel {
                margin-bottom: 0.4rem;
            }
        }

        .oppsummering__avkrysset {
            display: inline-flex;
            align-items: center;
            margin-top: 0.7rem;

            img {
                display: inline-block;
                width: 1rem;
                min-width: 1rem;
                height: 1rem;
                margin-right: 0.5rem;
                margin-top: 0.175rem;
            }

            p {
                display: inline;
            }
        }

        .navds-detail--small {
            margin: 0.25rem 0 0 1.6rem;
        }
    }
}
