@import '../../../node_modules/nav-frontend-core/less/_variabler';

.statuspanel {
    display: flex;
    width: 100%;

    &.statuspanel--ramme {
        padding: 1.5rem 2.5rem 2.5rem
    }

    .avsnitt {
        margin: 0;
    }

    .venstre-justert {
        alignment: left;
        width: 50%;
    }

    .hoyre-justert {
        alignment: right;
        width: 50%;
    }
}

.panel--ramme {
    border: 1px solid @navGra40;
}
