.utvidbar {
    border: 1px solid #b0b0b0;
    border-radius: 4px;
    margin: 2rem 0;
}
.utvidbar .navds-accordion__header {
    background-color: #cce2f0;
}
.utvidbar .utvidbar__handling {
    display: inline-flex;
    align-items: center;
}
.utvidbar .utvidbar__handling {
    margin-left: auto;
    font-style: normal;
}
.utvidbar .navds-accordion__content {
    padding: 1.5rem 2.5rem 2.5rem;
}
.utvidbar .lenkerad {
    padding-top: 1rem;
    text-align: center;
}
.utvidbar .lenkerad .navds-link {
    border: 0;
}
.utvidbar .lenkerad .navds-link:not(:focus) {
    background: none;
}
.utvidbar.lilla .navds-accordion__header {
    background-color: #e0d8e9;
}
.utvidbar.intern {
    border: 0;
    margin: 1rem 0;
}
.utvidbar.intern .navds-accordion__header {
    display: inline-flex;
    padding: 0;
    width: auto;
    color: #0067c5;
    background-color: #ffffff;
    border-bottom: 0;
}
.utvidbar.intern .navds-accordion__header:hover {
    text-decoration: underline;
}
.utvidbar.intern .navds-accordion__header .utvidbar__handling {
    display: none;
}
.utvidbar.intern .navds-accordion__content {
    padding: 1rem;
    border-bottom: 0;
}
.utvidbar.intern .lenkerad {
    display: none;
}
@media (min-width: 768px) {
    .utvidbar .utvidbar__handling em {
        position: static;
        font-size: medium;
        color: #0067c5;
    }
}
