.ettersending {
    max-width: 500px;

    p {
        margin-top: 2rem;
    }

    .navds-modal__content {
        .navds-button {
            margin: 1rem auto 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@media (min-width: 768px) {
    .ettersending {
        width: 500px;
    }
}
