@import '~nav-frontend-core/less/core.less';
@import './basic';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: @navMorkGra;
}

html, body, #app-root {
    height: 100%;

    .spinner {
        display: block;
        margin: 0 auto;
    }
}

.app {
    min-height: 70vh;
}

.limit {
    position: relative;
    padding: 1rem 1rem 0;
}

.vekk {
    line-height: 0;
    color: transparent;
    font-size: 0;
    width: 0;
    height: 0;
}

a {
    color: @navBla;
}

.lenkeknapp {
    border: 0;
    background: none;
    padding: 0;
    cursor: pointer;
    outline: 0;
    color: @navBla;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }

    &:focus {
        background-color: @navDypBla;
        color: @white;
        text-decoration: none;
        box-shadow: 0 0 0 2px @navDypBla;
    }
}

.tving-ny-css-hash {
    color: @navBla;
}

.fade-enter {
    opacity: 0;
    z-index: 1;

    &.fade-enter-active {
        opacity: 1;
        transition: opacity 500ms ease-in;
    }
}

.fade-exit {
    opacity: 1;

    &.fade-exit-active {
        opacity: 0;
    }
}

.navno-dekorator .login-knapp.knapp--standard {
    min-height: auto;
    font-size: 1rem;
    padding: 0.2rem 0.7rem;
}

@media (min-width: @screen-sm) {
    .limit {
        width: @desktopLimitWidth;
        margin: 0 auto;
        padding: 1rem 1rem 2rem;
    }
}

