@import '../basic';

.sidebanner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem auto 0;
    padding: 1rem;

    .sidebanner__tittel {
        span {
            display: block;
        }
    }
}

@media (min-width: @screen-sm) {
    .sidebanner {
        width: calc(800px - 10rem);
        padding-left: 0;

        .sidebanner__tittel {
            display: inline;
            margin-right: 1.4rem;
        }
    }
}
