@import '../../../node_modules/nav-frontend-core/less/core';
@import '../../../src/basic';

.soknadtopp {
    height: 5em;
    padding: 0.6em 0 0;
    background-color: @navLysBlaLighten60;

    .soknadtopp__tittel {
        text-align: center;
        padding-bottom: 0.2em;
    }
}

@media (min-width: @skjermMedium) {
    .soknadtopp {
        .sidebanner__tittel {
            padding-bottom: 1rem;
            text-align: left;
        }
    }
}
