.landvelger .react-autosuggest__container {
    position: relative;
}
.landvelger .react-autosuggest__suggestions-container--open {
    width: 100%;
    max-width: 280px;
}
.landvelger .ReactTags__tagInput {
    position: relative;
}

.landvelger .react-autosuggest__suggestions-container--open {
    position: absolute;
    border: 1px solid #b0b0b0;
    margin-top: 3px;
    z-index: 1;
    background: #ffffff;
    max-height: 200px;
    overflow-y: auto;
}
.landvelger .react-autosuggest__suggestions-container--open ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.landvelger .react-autosuggest__suggestions-container--open .react-autosuggest__suggestion {
    padding: 0.75rem;
    border-bottom: 1px solid #f1f1f1;
    color: #0067c5;
    text-decoration: underline;
}
.landvelger .react-autosuggest__suggestions-container--open li:hover,
.landvelger .react-autosuggest__suggestions-container--open .react-autosuggest__suggestion--highlighted {
    background-color: #f1f1f1;
    cursor: pointer;
}
.landvelger .react-autosuggest__suggestions-container--open mark {
    background: transparent;
    color: #0067c5;
    font-weight: 600;
}

.landvelger > ul {
    padding-top: 8px;
}


.input--l {
    width: 100%;
    max-width: 280px;
}
