name: workflow
on:
  workflow_dispatch:
  push:

jobs:
  felles-workflow:
    uses: navikt/flex-github-actions-workflows/.github/workflows/next-js.yml@master
    permissions:
      packages: 'write'
      contents: 'read'
      id-token: 'write'
    secrets: inherit
    with:
      app: sykepengesoknad
      base-path: syk/sykepengesoknad
      labs-ingress: sykepengesoknad
      sentry-project: sykepengesoknad
      sentry-enabled: false
